@page
@model EditModel

<h2>Edytuj typ baadnia</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TypBadania.Id" />
            <div class="form-group">
                <label asp-for="TypBadania.Nazwa" class="control-label"></label>
                <input asp-for="TypBadania.Nazwa" class="form-control" />
                <span asp-validation-for="TypBadania.Nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypBadania.Cena" class="control-label"></label>
                <input min="0" step="5" asp-for="TypBadania.Cena" class="form-control" />
                <span asp-validation-for="TypBadania.Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
