@page
@model IndexModel
@{
    ViewData["Title"] = "Pracownia Psychotechniczna";
}
<h3>Menu:</h3>
<div class="row">
    <div class="col-md-4">
        <div>
            <a asp-page="Psycholog/Index">Zarządzaj psychologami</a>
        </div>
        <div>
            <a asp-page="TypBadania/Index">Zarządzaj typami badań</a>
        </div>
        <div>
            <a asp-page="Firma/Index">Zarządzaj firmami</a>
        </div>
    </div>
</div>

