@page
@model Frima.EditModel

@{
    ViewData["Title"] = "Edytuj firmę";
}

<h2>Edycja</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Firma.Id" />
            <div class="form-group">
                <label asp-for="Firma.Nazwa" class="control-label"></label>
                <input asp-for="Firma.Nazwa" class="form-control" />
                <span asp-validation-for="Firma.Nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firma.Adres" class="control-label"></label>
                <input asp-for="Firma.Adres" class="form-control" />
                <span asp-validation-for="Firma.Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firma.Nip" class="control-label"></label>
                <input asp-for="Firma.Nip" class="form-control" />
                <span asp-validation-for="Firma.Nip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
